
body {
  background-image: url("/images/blockchain.jpg");
  font-family: roboto;
  color: white;
}

.container {
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto 50px;
}

section {
    grid-column: span 2;
}

aside {
    grid-column: span 1;
}

footer {
    grid-column: span 12;
}
  
h1 {
  font-family: Creepster, roboto, 'Sans-Serif';
  letter-spacing: 5px;
  background-color: rgb(54, 127, 150);
  background-color: rgba(54, 127, 150,0.5);
  font-size: 5vw;
  margin: 0px;
  padding-left: 30px;
}

h2 {
  padding-left: 30px;
}

nav {
  display: flex;
  margin: 0;
  background-color: rgb(54, 127, 150);
  background-color: rgba(54, 127, 150,0.9);
}

nav div {
  border-right: 1px solid white;
  color: white;
  padding: 10px 20px;
  margin: 0;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

#menu {
  display: none;
}

nav div:hover {
  background-color: black;
  background-color: hsl(194, 47%, 20%);
}

.spacer {
  margin-top: 20px;
}

.flex-container {
  display: flex;
}


.pic {
  width: 75%;
  height: auto;
  min-width: 360px;
}

section {
  background-color: rgba(133, 133, 133,0.9);
  
}